.home{
  &__timeLine{
    &__column{

    }
    &__relative{
      position: relative;
      &:before{
        .home__timeLine__column:nth-child(n+2) &{
          content: "";
          border: 1px dashed #CECECE;
          position: absolute;
          @include media-breakpoint-down('s'){
            height: 105%;
            bottom: 100%;
            left: 15px;
          }
          @include media-breakpoint-up('m'){
            width: 100%;
            right: 57%;
            top: 17px;
          }
        }
      }
    }
    &__boxCount{
      position: relative;
      z-index: 999;
      background: #C4C4C4;
      color: #FFFFFF;
      font-size: 14px;
      font-weight: 600;
      font-family: $SF-Pro-Rounded-Semibold;
    }
    &__title{
      color: #333333;
      line-height: 1.33;
      font-size: 18px;
      font-weight: 600;
      font-family: $SF-Pro-Rounded-Semibold;
      img{
        margin-right: 8px;
      }
    }
  }
  &__sectionTop{
    background: radial-gradient(100% 100% at 72.22% 0%, rgba(255, 193, 33, 0.12) 0%, rgba(255, 255, 255, 0) 100%);
    &__imgRight{
      @include media-breakpoint-up('m'){
        position: relative;
        right: -75px;
      }
    }
    &__box{
      background: rgba(255, 255, 255, 0.8);
      border: 1px solid #F2F2F2;
      backdrop-filter: blur(50px);
      /* Note: backdrop-filter has minimal browser support */
      border-radius: 24px;
      margin-top: -101px;
      position: relative;
      @include media-breakpoint-up('m'){
        padding: 24px;
        margin-top: -155px;
      }
      &__title{
        color: #333333;
        line-height: 1.2;
        font-weight: 600;
        font-family: $SF-Pro-Rounded-Semibold;
        font-size: 20px;
      }
      &__txt{
        color: #5E5E5E;
        line-height: 1.6;
        font-size: 15px;
        font-weight: 400;
        font-family: $SF-Pro-Rounded-Regular;
      }
    }
  }
  &__bgGreen{
    background: #4DC562;
  }
  &__title{
    @include fluidx(32px,24px,font-size);
    line-height: 1.25;
    font-family: $SF-Pro-Rounded-Semibold;
    font-weight: 600;
    color: #333333;
    margin: 0;
    &.c1{
      @include fluidx(52px,32px,font-size);
    }
    span{
      padding: 0 9px;
    }
  }
  &__txt{
    line-height: 1.33;
    font-size: 15px;
  }
  &__accordion{
    &__title{
      line-height: 1.33;
      font-size: 18px;
      color: #333333;
      font-family: $SF-Pro-Rounded-Semibold;
      font-weight: 600;
      &:before{
        background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='12' cy='12' r='11.25' stroke='%23828282' stroke-width='1.5'/%3E%3Cpath d='M7 12H17' stroke='%23828282' stroke-width='1.5' stroke-linecap='round'/%3E%3Cpath d='M12 7L12 17' stroke='%23828282' stroke-width='1.5' stroke-linecap='round'/%3E%3C/svg%3E%0A");
        .uk-open> &{
          background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='12' cy='12' r='11.25' stroke='%23828282' stroke-width='1.5'/%3E%3Cpath d='M7 12H17' stroke='%23828282' stroke-width='1.5' stroke-linecap='round'/%3E%3C/svg%3E%0A");
        }
      }
    }
    &__content{
      line-height: 1.5;
      margin-top: 8px;
      padding-right: 48px;
    }
    &__li{
      &:nth-child(n+2){
        padding-top: 24px;
        margin-top: 24px;
        border-top: 1px solid #F2F2F2;
      }
    }
  }
  &__giaovien{
    &__coverImg{
      @include fluidx(12px,8px,border-radius);
      canvas{
        @include fluidx(256px,161px,width);
      }
    }
  }
  &__hocsinh{
    &__container{
      @include media-breakpoint-up('m'){
        //width: calc(100% + 40px - 40px);
        //padding-left: 0;
        //padding-right: 0;
      }
    }
    &__overflow{
      padding-bottom: 15px;
    }
    &__box{
      background: #D9D9D9;
      border-radius: 16px;
      &__overlay{
        top: 35%;
        background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.235633) 23.56%, #010101 100%);
      }
      &__name{
        color: #FFFFFF;
        line-height: 1.33;
        font-size: 18px;
        font-weight: 600;
        font-family: $SF-Pro-Rounded-Semibold;
      }
      &__txt{
        font-size: 14px;
        line-height: 1.29;
        font-family: $SF-Pro-Rounded-Regular;
        font-weight: 400;
        img{
          margin-right: 4px;
        }
      }
    }
  }
  &__chuongtrinh{
    &__card{
      background-color: #fff;
      border-radius: 24px;
      @include media-breakpoint-up('m'){
        padding-top: 48px;
        padding-left: 0;
        padding-right: 0;
        padding-bottom: 0;
        background-color: #f8f8f8;
        overflow: hidden;
      }
      &__coverImg{
        border: 1px solid #F2F2F2;
        display: inline-flex;
        img{
          @include fluidx(40px,26px,width);
        }
        canvas{
          @include fluidx(60px,40px,width);
        }
      }
      &__title{
        color: #333333;
        @include fluidx(18px,16px,font-size);
        line-height: 1.33;
        font-family: $SF-Pro-Rounded-Semibold;
        font-weight: 600;
      }
      &__txt{
        color: #5E5E5E;
        font-size: 15px;
        font-family: $SF-Pro-Rounded-Regular;
        font-weight: 400;
        line-height: 1.33;
      }
    }
  }
  &__form{
    &__input{
      height: 52px;
      font-size: 16px !important;
      font-family: $SF-Pro-Rounded-Regular;
      font-weight: 400;
      .uk-section-primary &{
        color: #5E5E5E !important;
        background: #FFFFFF !important;
        &::placeholder{
          color: #5E5E5E !important;
        }
      }
    }
    &__btn{
      &--c1{
        color: #4DC562;
        border-color: #4DC562;
        background: transparent;
        &:hover{
          background: #4DC562;
        }
      }
      &--c2{
        background: #4DC562;
        &:hover{
          background: rgba(#4DC562,.8);
        }
      }
      line-height: 42px;
      &.uk-button-large{
        line-height: 50px;
      }
      text-transform: inherit;
      padding: 0 16px;
      font-family: $SF-Pro-Rounded-Semibold;
      font-weight: 600;
      font-size: 16px;
      .uk-section-primary &{
        color: #4DC562 !important;
      }
    }
  }
}