/**
 * --------------------------------------------------------------------
 * SF Pro Rounded
 * --------------------------------------------------------------------
 */
@font-face{
  font-family:'SF Pro Rounded Semibold';
  font-display: swap;
  src:local('SF Pro Rounded Semibold'), url('fonts/SF-Pro-Rounded/SF-Pro-Rounded-Semibold.otf') format('truetype');
  font-weight:normal;
  font-style:normal;
}
@font-face{
  font-family:'SF Pro Rounded Regular';
  font-display: swap;
  src:local('SF Pro Rounded Regular'), url('fonts/SF-Pro-Rounded/SF-Pro-Rounded-Regular.otf') format('truetype');
  font-weight:normal;
  font-style:normal;
}
@font-face{
  font-family:'SF Pro Rounded Medium';
  font-display: swap;
  src:local('SF Pro Rounded Medium'), url('fonts/SF-Pro-Rounded/SF-Pro-Rounded-Medium.otf') format('truetype');
  font-weight:normal;
  font-style:normal;
}